*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}
body{
    max-width: 1440px;
    margin: auto;
    /* overflow: hidden; */
    background-color:  #f0f4f5;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    font-weight: 600;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav img{
    height: 45px;
    width: 150px;
}
nav ul li:first-child {
    font-weight: 700;
    color: #20bc7e;
  }
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
  }
  main section{
    width: 50%;
  }
  /* styling right hero section */

  .greenbox,
.yellowbox {
  position: absolute;
  right: 0;
}
  .greenbox{
    width: 30%;
    bottom: 30px;
}
.yellowbox{
    width: 20%;
    bottom: 50px;
}
.doctor{
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 90%;
}

/* styling left hero section */
.stethoscope{
    position: absolute;
    z-index: -1;
    width: 40%;
    height: 70%;
    bottom: 25px;
    left: 200px;
    
}
.left-hero-section{
    margin-left: 5%;
    
}
.top-angle{
    width: 25px;
}
.left-hero-section h1{
    font-size: 60px;
}
.left-hero-section p{
    font-size: 18px;
    color: #7c7c7c;
    margin: 10px;
}
.bottom-angle{
    position: absolute;
    width: 25px;
    left: 50%;
}
.mouse{
    position: absolute;
    width: 30px;
    left: 52%;
    bottom: 10%;
}
.left-hero-section button{
    background-color:#20bc7e;
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.left-hero-section button:hover{
    background-color:#ffffff;
    color:#20bc7e;
    border:1px solid #20bc7e ;
}


